h1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #ADC0D9;
    margin-bottom: 12px;
    padding: 6px 18px;
    border-radius: 18px;
    font-size: 24pt;
    text-align: center;
}

.itemList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}