.cartListContainer {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 20px;
    padding: 0 60px;
    grid-template-areas: 
    "titulo titulo"
    "lista resumo"
    "cupom resumo"
    "entrega resumo";
}

.cartListContainer__titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 4px 0;
    background-color: none;
    display: flex;
    flex-direction: row;
    grid-area: titulo;
}

.cartList {
    grid-area: lista;
}

.cartList div:last-child {
    margin-bottom: 0;
}

.cartList .cartListVazio h2 {
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 24pt;
}

.cartListContainer__cupom {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    background-color: #ADC0D9;
    border-radius: 15px;
    padding: 15px;
    color: #FFFFFF;
    grid-template-areas:
    "tituloCupom inputCumpom botaoCupom";
    grid-area: cupom;
}

.cartListContainer__cupom h4 {
    grid-area: tituloCupom;
}

.cartListContainer__cupom div {
    width: 100%;
    padding: 0 10px;
    grid-area: inputCumpom ; 
}

.cartListContainer__cupom div input {
    display: inline-block;
    background-color: #ADC0D9;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.cartListContainer__cupom div input::placeholder {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 9pt;
}

.cartListContainer__cupom div input:focus {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    border-bottom: 2px solid #FFFFFF;
}

.cartListContainer__cupom button {
    grid-area: botaoCupom;
    background-color: #ADC0D9;
    padding: 5px 0;
    align-items: center; 
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 12pt;
}

.cartListContainer__cupom button:hover {
    font-weight: 400
}

.cartListContainer__entrega {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    background-color: #7999D9;
    border-radius: 15px;
    padding: 15px;
    grid-area: entrega;
    grid-template-areas:
    "endereco freteTabela";
    color: #FFFFFF;
}

.cartListContainer__entregaEndereco {
    display: flex;
    flex-direction: column;
    height: 100%;
    grid-area: endereco;
}

.cartListContainer__entregaEndereco h4 {
    padding-bottom: 10px;
}

.cartListContainer__entregaEndereco div {
    display: flex;
    flex-direction: row;
}

.cartListContainer__entregaEndereco div p {
    font-weight: 100;
    font-size: 10pt;
    padding-bottom: 5px;
}

.cartListContainer__entregaEndereco div span {
    font-weight: 500;
    font-size: 10pt;
    padding-bottom: 5px;
}

.cartListContainer__resumo {
    background-color: #4563BF;
    border-radius: 15px;
    padding: 15px;
    color: #FFFFFF;
    grid-area: resumo;
}

.cartListContainer__resumo h2 {
    padding-bottom: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 18pt;
}

.cartListContainer__resumoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cartListContainer__resumoValores {
    flex-grow: 1;
}

.cartListContainer__resumoValores div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.cartListContainer__resumoValores div:last-child {
    margin-top: 12px;
    vertical-align: bottom;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 15pt;
}

.cartListContainer__resumoBotoes {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin-top: 12px;
    flex-shrink: 0;
}

.cartListContainer__resumoBotoes button {
    background-color: #4563BF;
    padding: 5px 0;
    align-items: center; 
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 12pt;
}

.cartListContainer__resumoBotoes button:hover {
    font-weight: 700;
}

.cartListContainer__resumoBotoes button:disabled:hover {
    font-weight: 100;
    cursor: not-allowed;
}