.itemListContainer h2 {
    max-width: 300px;
    margin-top: 24px;
    font-size: 15pt;
    text-align: center;
}

.produtoContainer {
    margin-top: 18px;
    padding: 18px;
    border-radius: 18px;
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 12px;
    grid-template-areas: 
    "imagem imagem"
    "nome preco"
    "contador contador";
}

.produtoContainer figure {
    grid-area: imagem;
}

.produtoContainer h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: nome;
    font-size: 18pt;
}

.produtoContainer span {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: preco;
    font-size: 15pt;
}

.produtoContainer .itemCount {
    grid-area: contador;
}